// src/styles/Dashboard.scss

.dashboard-container {
  display: flex;
  height: 100vh;
  width: 100vw;

  &.dark {
    background-color: #121212; // Dark mode background
    color: white;

    .dashboard-content {
      background: linear-gradient(
        to bottom right,
        #3f633f 0%,
        #204c2b 50%,
        #0eb32f 100%
      );
      color: #fff;
    }
  }

  &.light {
    background-color: #f5f5f5; 
    color: black;

    .dashboard-content {
      background: linear-gradient(
        to bottom right,
        rgb(209, 224, 209), // Light Green (top left)
        rgba(155, 217, 155, 0.8) 80%, // Light Green (middle)
        rgba(177, 225, 177, 0.8) // Dark Green (bottom right)
      );
      color: black;
    }
    
  }
}


.dashboard-content {
  margin-left: 0px; // No left margin, content takes full width
  width: 100%; // Full width of the dashboard
  height: 100vh; // Full height of the viewport, even if content exceeds
  overflow-y: auto; // Adds vertical scrolling when content overflows
  padding: 20px;

  // Updated background gradient
  background: linear-gradient(
    to bottom right, 
    #3f633f 0%,
    #204c2b 50%,   
    #0eb32f 100%, 

  );

  color: #fff;
  font-family: 'Arial', sans-serif;

  // Fixes the height and ensures scrolling
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  
  .title {
    font-size: 24px;
  }

  .user-info {
    display: flex;
    align-items: center;

    img {
      border-radius: 50%;
      width: 50px;
      height: 80px;
      margin-right: 10px;
    }

    .name {
      font-weight: bold;
    }
  }
}
